.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.biglogo
{
	padding-top: 20px;
	text-align: center;
	font-size: 100px;
	opacity: 0.8;
}

.search
{
	text-align: center;
}

.results
{
	padding-top: 20px;
	padding-bottom: 10%;
	text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], textarea{
  width: 40%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid rgba(51, 122, 183, 0.4);
  color: #0C4B33;
}

textarea {
  text-align: left;
}

input[type="submit"],.submit{
  width: 20%;
  padding: 10px;
}

input[type="submit"],.submit:hover{
  width: 20%;
  padding: 10px;
}

.row
{
	margin: 0;
}

.biglogo a
{
	color: #333;
}

.biglogo a:hover
{
	color: #333;
}

label
{
	font-weight: normal;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}


@media (max-width:1024px) {
	input[type="text"], input[type="email"], input[type="password"], textarea{
  		width: 80%;
	}

	input[type="submit"], .submit{
	  width: 60%;
	  padding: 10px;
	}

	input[type="submit"], .submit:hover{
	  width: 60%;
	  padding: 10px;
	}

}